OpenGL-shaders/Debug/vc120.idb
Debug/Fixed-pipeline Open-GL.exe
Debug/Fixed-pipeline Open-GL.exe
Debug/Fixed-pipeline Open-GL.pdb
Debug/Programmable-pipeline Open-GL.ilk
Debug/Fixed-pipeline Open-GL.pdb
ipch/lab1-7c9943bf/fixed-pipeline open-gl-822ff7d1.ipch
Debug/Programmable-pipeline Open-GL.pdb